#elementor-popup-modal-169 .dialog-message {width: 50vw;height: auto;}
#elementor-popup-modal-169 {justify-content: center;align-items: center;pointer-events: all;background-color: rgba(0,0,0,.8);}
#elementor-popup-modal-169 .dialog-close-button {display: block;}
#elementor-popup-modal-169 .dialog-widget-content {animation-duration: .5s;box-shadow: 2px 8px 23px 3px rgba(0,0,0,.2);}
@media (max-width:999px) {#elementor-popup-modal-169 .dialog-message {width: 90vw;}}
@media (max-width:689px) {#elementor-popup-modal-169 .dialog-message {width: 80vw;}}